body{
    background-image: url(palos.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}


a{
    color: red;
}


h1{
    text-align: center;
    color: red;
}